<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.HeadTeacherMapper">
<!--    得到所有周报-->
    <select id="getAllWeekly" resultType="weekly">
        select * from weekly
    </select>
<!--    根据日期获取周报-->
    <select id="getWeeklyByWeekDate" resultType="weekly">
        select * from weekly where weekDate = #{weekDate}
    </select>
<!--    根据姓名获取周报-->
    <select id="getWeeklyByStuName" resultType="weekly">
        select * from weekly where stuName=#{stuName}
    </select>
<!--    根据姓名和日期获取周报-->
    <select id="getWeeklyByDateAndStuName" resultType="weekly">
        select * from weekly where weekDate=#{arg0} and stuName=#{arg1}
    </select>
<!--    根据姓名得到学生信息-->
    <select id="getStudentByStuName" resultType="student" parameterType="string">
        select * from student where stuName=#{stuName}
    </select>
<!--    根据cid得到班级信息-->
    <select id="getMyClassByCid" resultType="myClass">
        select * from myclass where cid=#{cid}
    </select>
    <select id="getClassBy" resultType="string">
        select cName from myclass;
    </select>

<!--    一对多-->
    <resultMap id="studentClass" type="studentAndClass">
        <result property="id" column="id"></result>
        <result property="cName" column="cName"></result>
        <result property="tName" column="tName"></result>
        <result property="bName" column="bName"></result>
        <result property="cid" column="cid"></result>
        <collection property="studentList" javaType="java.util.ArrayList" ofType="student" resultMap="studentMap"></collection> <!--javaType=""-->

    </resultMap>
    <resultMap id="studentMap" type="student">
        <id property="stuId" column="stuId"></id>
        <result property="stuName" column="stuName"></result>
        <result property="userName" column="userName"></result>
        <result property="stuAge" column="stuAge"></result>
        <result property="stuSex" column="stuSex"></result>
        <result property="stuBirthday" column="stuBirthday"></result>
        <result property="stuTel" column="stuTel"></result>
        <result property="cid" column="cid"></result>
    </resultMap>

    <select id="getStudentAndClass" resultMap="studentClass" >
        select * from student inner join myClass on student.cid=myclass.cid order BY student.cid
    </select>
    <select id="getStudentByCid" resultType="student">
        select * from student where cid=#{cid};
    </select>
    <update id="updateStudent" parameterType="student">
        UPDATE student SET stuName=#{stuName},stuSex=#{stuSex},stuAge=#{stuAge},stuBirthday=#{stuBirthday},stuTel=#{stuTel}  WHERE stuId=#{stuId}
    </update>
    <delete id="deleteStudent" parameterType="int">
        delete from student  where stuId=#{stuId}
    </delete>
    <select id="getStudentList" resultType="student">
        select * from student;
    </select>
    <insert id="addStudent" parameterType="student">
        insert into student(stuName,userName,stuAge,stuSex,stuBirthday,stuTel,cid) values (#{stuName},#{userName},#{stuAge},#{stuSex},#{stuBirthday},#{stuTel},#{cid})
    </insert>
    <select id="getGradeByDate" resultType="weekly">
        select * from weekly where weekDate=#{weekDate} and stuName in
        <foreach collection="studentByCidList" item="student" open="(" close=")" separator=",">
             #{student.stuName}
        </foreach>

    </select>


    <!--    ////////////////-->
    <select id="getLeaveDateById" parameterType="int" resultType="leaves">
        select startDate,endDate from leaves where lid=#{lid}
    </select>
    <select id="getLeaveByLecture" resultType="leaves">
        select * from leaves where status = '讲师过审'
     </select>
    <update id="agreeLeaves" parameterType="int">
        update leaves set status='班主任过审' where lid=#{lid}
    </update>
    <update id="endLeaves" parameterType="int">
        update leaves set status='已审批' where lid=#{lid}
    </update>
    <select id="getInstanceId" parameterType="int" resultType="java.lang.String">
        select instanceId from leaves where lid = #{lid}
    </select>
    <select id="getboosByRole" resultType="java.lang.String">
        select name from user where role='校长'
    </select>
    <select id="getUserByUserName" parameterType="java.lang.String" resultType="user">
        select * from user where userName=#{userName}
    </select>
    <insert id="addLeave" parameterType="leaves">
        insert into leaves(stuName,startDate,endDate,cause,tName,bName,boos,instanceId) values (#{stuName},#{startDate},#{endDate},#{cause},#{tName},#{bName},#{boos},#{instanceId})
    </insert>
</mapper>