<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.HeadTeacherMapper">
<!--    得到所有周报-->
    <select id="getAllWeekly" resultType="weekly">
        select * from weekly
    </select>
<!--    根据日期获取周报-->
    <select id="getWeeklyByWeekDate" resultType="weekly">
        select * from weekly where weekDate = #{weekDate}
    </select>
<!--    根据姓名获取周报-->
    <select id="getWeeklyByStuName" resultType="weekly">
        select * from weekly where stuName=#{stuName}
    </select>
<!--    根据姓名和日期获取周报-->
    <select id="getWeeklyByDateAndStuName" resultType="weekly">
        select * from weekly where weekDate=#{arg0} and stuName=#{arg1}
    </select>
<!--    根据姓名得到学生信息-->
    <select id="getStudentByStuName" resultType="student">
        select * from student where stuName=#{stuName}
    </select>
<!--    根据cid得到班级信息-->
    <select id="getMyClassByCid" resultType="myClass">
        select * from myclass where cid=#{cid}
    </select>
    <select id="getClassBy" resultType="string">
        select cName from myclass;
    </select>

<!--    一对多-->
    <resultMap id="studentClass" type="studentAndClass">
        <result property="id" column="id"></result>
        <result property="cName" column="cName"></result>
        <result property="tName" column="tName"></result>
        <result property="bName" column="bName"></result>
        <result property="cid" column="cid"></result>
        <collection property="studentList" javaType="java.util.ArrayList" ofType="student" resultMap="studentMap"></collection> <!--javaType=""-->

    </resultMap>
    <resultMap id="studentMap" type="student">
        <id property="stuId" column="stuId"></id>
        <result property="stuName" column="stuName"></result>
        <result property="userName" column="userName"></result>
        <result property="stuAge" column="stuAge"></result>
        <result property="stuSex" column="stuSex"></result>
        <result property="stuBirthday" column="stuBirthday"></result>
        <result property="stuTel" column="stuTel"></result>
        <result property="cid" column="cid"></result>
    </resultMap>

    <select id="getStudentAndClass" resultMap="studentClass" >
        select * from student inner join myClass on student.cid=myclass.cid;
    </select>


</mapper>