<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.LectureMapper">
    <select id="getStudentListTable" resultType="student">
        select * from student
    </select>
    <select id="getWeeklyList" resultType="weekly">
       select * from weekly
</select>
    <!--周报打分-->
    <update id="updatelectureweeklyscore" parameterType="int">
        update weekly set score=#{arg1} where wkId=#{param1}
    </update>
    <!--周报学生-->
    <select id="getWeeklyListchart" resultType="weekly">
        select stuName from weekly group by stuName
    </select>
    <!--走势图-->
    <select id="StudentChart" parameterType="java.lang.String" resultType="int">
        select score from weekly WHERE stuName=#{stuName}
    </select>
    <!--班级平均分柱状图-->
    <select id="ClassChart" resultType="score">
        select * from score
    </select>
    <!--获取日期-->
    <select id="getWeeklyDate" resultType="weekly">
        select weekDate from weekly
    </select>





<!--    ////////////////-->
    <select id="getLeaveByLecture" resultType="leaves">
        select * from leaves where status = '已提交'
     </select>
    <update id="agreeLeaves" parameterType="int">
        update leaves set status='讲师过审' where lid=#{lid}
    </update>
    <select id="getInstanceId" parameterType="int" resultType="java.lang.String">
        select instanceId from leaves where lid = #{lid}
    </select>
    <select id="getboosByRole" resultType="java.lang.String">
        select name from user where role='校长'
    </select>
    <select id="getUserByUserName" parameterType="java.lang.String" resultType="user">
        select * from user where userName=#{userName}
    </select>
    <insert id="addLeave" parameterType="leaves">
        insert into leaves(stuName,startDate,endDate,cause,tName,bName,boos,instanceId) values (#{stuName},#{startDate},#{endDate},#{cause},#{tName},#{bName},#{boos},#{instanceId})
    </insert>
</mapper>