<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.StudentMapper">
    <select id="getStudentByUserName" parameterType="java.lang.String" resultType="student">
        select * from student where userName = #{userName}
    </select>
    <insert id="addStudent" parameterType="student">
        insert into student(stuName,userName,stuAge,stuSex,stuBirthday,stuTel,cid) values (#{stuName},#{userName},#{stuAge},#{stuSex},#{stuBirthday},#{cid})
    </insert>
    <update id="updateStudent" parameterType="student">
        update student set stuName=#{stuName},stuAge=#{stuAge},stuSex=#{stuSex},stuBirthday=#{stuBirthday},stuTel=#{stuTel},cid=#{cid} where userName=#{userName}
    </update>
    <update id="updateUserByName" parameterType="java.lang.String">
        update user set password=#{arg1} where userName=#{arg0}
    </update>
    <select id="getWeeklyByName" parameterType="java.lang.String" resultType="weekly">
        select * from weekly where stuName =#{stuName}
    </select>
    <select id="getWeeklyById" resultType="weekly" parameterType="int">
        select * from weekly where wkId=#{wkId}
    </select>
    <delete id="delWeeklyById" parameterType="int">
        delete from weekly where wkId=#{wkId}
    </delete>
    <insert id="addWeekly" parameterType="weekly">
        insert into weekly(stuName,title,weekDate,text) values (#{stuName},#{title},#{weekDate},#{text})
    </insert>

    <select id="selMyClassByCid" resultType="myClass" parameterType="java.lang.String">
        select * from  myclass where cid=#{cid}
    </select>
    <select id="getboosByRole" resultType="java.lang.String">
        select name from user where role='校长'
    </select>
    <insert id="addLeave" parameterType="leaves">
        insert into leaves(stuName,startDate,endDate,cause,tName,bName,boos,instanceId) values (#{stuName},#{startDate},#{endDate},#{cause},#{tName},#{bName},#{boos},#{instanceId})
    </insert>
</mapper>
