<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.SupperUserMapper">
    <!--课程管理-->
    <insert id="insertClass" parameterType="myClass">
        insert into myclass(cName,tName) values (#{cName},#{tName})
    </insert>
    <update id="updateClassById" parameterType="myClass">
        update myclass set cName=#{cName},tName=#{tName} where id=#{id}
    </update>
    <delete id="deleteClass" parameterType="int">
        delete from myclass where id=#{id}
    </delete>
    <select id="selectClass" resultType="myClass">
        select * from myclass;
    </select>
    <select id="selectClassById" resultType="myClass">
        select cName,tName from myclass where id=#{id};
    </select>
    <!--角色管理-->
    <!--无条件查询所有的角色-->
    <select id="selectRoleList" resultType="user">
        select * from user
    </select>
    <select id="selectRoles" resultType="user">
        select role from user;
    </select>
    <select id="selectRoleListById" resultType="user">
        select * from user where userId=#{userId}
    </select>
    <!--增加角色-->
    <insert id="insertRoleByUser" parameterType="user">
        insert into user(role) value (#{role})
    </insert>
    <update id="updateRoleById" parameterType="user">
        update user set role=#{role} where userId=#{userId}
    </update>
    <delete id="deleteRole" parameterType="int">
        delete from user where userId=#{userId}
    </delete>
    <!--员工-->
    <select id="selectStaff" resultType="user">
        select userId,name,role from user where role!='学生';
    </select>
    <insert id="insertStaff" parameterType="user">
        insert into user(name,role) values (#{name},#{role})
    </insert>
</mapper>