<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/js/echarts.min.js}"></script>
</head>
<body>
<div id="main" style="width: 400px;height: 400px"></div>

<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '本班阶段平均成绩'
        },
        tooltip: {},
        legend: {
            data:['平均分数']
        },
        xAxis: {
            data:  /*[[${names}]]*/null
        },
        yAxis: {},
        series: [{
            name: '平均分数',
            type: 'bar',
            data: /*[[${datas}]]*/null
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>