<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{js/jquery-3.4.1.js}"></script>
    <script>
       function downloadfile(){
            window.location.href="UserExcelDownloads";
        }
    </script>

</head>
<body>

<table>
    <tr>
        <th>序号</th>
        <th>学生姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>出生年月</th>
        <th>联系方式</th>
    </tr>
    <tr id="${student.stuId}"  th:each="student,var:${pageInfo.list}">
        <td th:text="${var.count}"></td>

        <td th:text="${student.StuName}"></td>
        <td th:text="${student.StuSex}"></td>
        <td th:text="${student.StuAge}"></td>
        <td th:text="${student.StuBirthday}"></td>
        <td th:text="${student.StuTel}"></td>

</table>
<a th:href="@{lectureindex(pageNum=1)}" th:text="首页"></a>
<span th:if="${!pageInfo.hasPreviousPage}">上一页</span>
<a th:if="${pageInfo.hasPreviousPage}" th:href="@{lectureindex(pageNum=${pageInfo.prePage})}" th:text="上一页"></a>
<!--显示所有页码，navigatepageNums表示所有页码的数组集合-->
<span th:each="i: ${pageInfo.navigatepageNums}">
        <a th:href="@{lectureindex(pageNum=${i})}" th:text="${i}"></a>
</span>
<a th:if="${pageInfo.hasNextPage}" th:href="@{lectureindex(pageNum=${pageInfo.nextPage})}" th:text="下一页"></a>
<span th:if="${!pageInfo.hasNextPage}">下一页</span>
<a th:href="@{lectureindex(pageNum=${pageInfo.lastPage})}" th:text="尾页"></a>
<table border="0" style="margin-top:4px; margin-left: 18px">
    <tr>
        <td><a href="#" class="easyui-linkbutton" onclick="downloadfile();">数据导出</a></td>

    </tr>

</table>
</body>
</html>